ul {
   align-items: center;
  }

  h1{
      text-align: center;
      font-size: 60px;
      font-family: cursive;
      color: aliceblue;
  }
  
  /* li {
    float: center;
  } */
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .derecha{
      float: left;
      width: auto;
      padding: auto;
      margin-top: auto;
  }
  img{
    align-items: flex-start;
  }
.navegador{
  list-style-type: none;
  text-align: center;
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;